@media (max-width: 768px) {
    .mobile-nav.show {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: 999;
        transform: translateY(-10px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        opacity: 0;
    }

    .menuOpen {
        width: 30px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999999;
    }


}

@media (max-width: 1025px) {
    .menu {
        display: block;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        z-index: 999;
    }

    .mobile-nav.show {
        transform: translateX(0);
    }

    .menuOpen {
        width: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }
}