@media (max-width: 768px) {
    .mobile-nav.show {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    nav {
        width: 100%;
        height: 100%;
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: 999;
        transform: translateY(-10px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        opacity: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 100%;
        height: 100%;
        align-items: center;
        margin-top: 126px;
    }

    ul li {
        padding: 15px;
    }

    ul li a {
        font-size: 18px;
    }

    .menuOpen {
        width: 30px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999999;
    }

    header {
        position: fixed;
        background-color: #000;
        width: 100%;
        top: 0;
        z-index: 99999;
    }

    form {
        width: 100%;
    }

    .main-form{
        margin-top: 59px;
    }

}

@media (max-width: 1025px) {
    header {
        position: fixed;
        background-color: #000;
        width: 100%;
        top: 0;
        z-index: 99999;
    }

    .menu {
        display: block;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        z-index: 999;
    }

    .mobile-nav.show {
        transform: translateX(0);
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }

    ul li {
        padding: 15px;
    }

    ul li a {
        font-size: 18px;
        color: #fff;
    }

    .menuOpen {
        width: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
        /* z-index: 1000; */
    }

    form {
        width: 100%;
    }
}